name: run unit tests

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: import patch which shouldn't be necessary
        run: touch src/stability_sdk/interfaces/__init__.py
        
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/setup.py
      - name: Cache OpenCV
        id: opencv-cache
        uses: actions/cache@v2
        with:
          path: ./opencv-install
          key: ${{ runner.os }}-opencv-cache

      #- name: Install OpenCV 
      #  uses: rayandrews/with-opencv-action@v1
      #  with:  
      #    dir: ./opencv-install
      #    cached: ${{ steps.opencv-cache.outputs.cache-hit }}
      #    opencv-version: '4.6.0'
      #    BUILD_NEW_PYTHON_SUPPORT: 'ON'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install OpenCV
        run: |
          pip install opencv-python-headless
      - name: Install package
        run: |
          pip install .[dev,anim]
      - name: Test with pytest
        run: |
          pytest -s
